$Color-primary-100: #000000;
$Color-primary-200: #f8f8f8;
$Color-primary-300: #df4e3c;

$Color-secondary-100: #aeaeae;
$Color-secondary-200: #8d8d8d;
$Color-secondary-300: #bdbdbd;
$Color-secondary-400: #c4c4c4;
$Color-secondary-500: #ffffff;
$Color-secondary-600: #959595;
$Color-secondary-700: #507a36;

body {
  font-family: "Noto Sans" !important;
}

.hero-container {
  background-image: url(../img/hero-bg.jpg);
  background-repeat: no-repeat;
  padding-top: 19px;
  padding-bottom: 138px;
  padding-left: 100px !important;
  padding-right: 100px !important;

  .navbar {
    padding: 0;
    margin-bottom: 136px;
  }
  .nav-item {
    margin-right: 40px;
    &:nth-child(3) {
      margin-right: 45px;
    }
    &:nth-child(4) {
      margin-right: 31px;
    }
    &:nth-child(5) {
      margin-right: 0;
    }
  }
  .nav-link {
    color: $Color-primary-200;
    font-weight: 500;
    font-size: 15px;
    line-height: 1.33;
    padding: 0;

    &:hover,
    &:focus {
      color: $Color-primary-300;
    }
  }

  .hero {
    .hero-title {
      font-weight: 700;
      font-size: 50px;
      line-height: 1.36;
      color: $Color-primary-200;
      margin-bottom: 32px;
    }
    .hero-text-wrapper {
      display: flex;
      margin-bottom: 72px;

      .text {
        display: block;
        width: 295px;
        font-weight: 400;
        font-size: 15px;
        line-height: 1.33;
        color: $Color-primary-200;
      }
    }
    .btn {
      width: 296px;
      height: 56px;
      font-weight: 500;
      font-size: 20px;
      line-height: 27px;
      color: $Color-primary-200;
      border: 2px solid $Color-primary-200;
      box-sizing: border-box;
      border-radius: 15px;
    }
    .btn-outline-dark:hover,
    .btn-outline-dark:focus {
      color: $Color-primary-100;
      background-color: $Color-primary-200;
      border: 2px solid $Color-primary-200;
    }
  }
}

.cars-info {
  background-color: $Color-primary-200;
  padding-top: 98px;
  padding-bottom: 120px;
  padding-left: 100px !important;
  padding-right: 100px !important;

  .cars-info-title {
    font-family: "Poppins";
    font-weight: 700;
    font-size: 50px;
    line-height: 1.5;
    text-transform: uppercase;
    color: $Color-secondary-100;
    text-align: center;
    margin-bottom: 80px;
  }
  .select-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;

    .select {
      position: relative;
      width: 170px;
      height: 48px;
      box-sizing: border-box;
    }
    .select.is-active .select__header {
      border-bottom: none;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;

      & > .select__current {
        font-weight: 600;
      }

      & > .select__icon {
        opacity: 0;
      }
    }

    .select.is-active .select__body {
      display: block;
    }

    .select__header {
      border: 1px solid #ccc;
      border-radius: 15px;
      cursor: pointer;
      display: flex;

      &.close {
        border-color: $Color-primary-300;
      }
    }

    .select__current {
      font-weight: 400;
      font-size: 15px;
      line-height: 1.33;
      color: #000000;
      padding: 13px 43px 12px 13px;
    }
    .select__icon {
      align-items: center;
      display: flex;
      flex-shrink: 0;
      justify-content: center;
      height: 40px;
      margin-left: auto;
      text-align: center;
      width: 40px;
    }

    .select__body {
      border: 1px solid $Color-secondary-300;
      border-top: 0;
      display: none;
      left: 0;
      position: absolute;
      z-index: 10;
      background-color: $Color-primary-200;
      right: 0;
      top: 36px;
      border-bottom-left-radius: 15px;
      border-bottom-right-radius: 15px;
    }
    .select__item {
      cursor: pointer;
      font-weight: 400;
      font-size: 15px;
      line-height: 12px;
      color: #000000;
      padding: 13px 43px 12px 13px;
    }

    .select__item:hover {
      color: $Color-primary-300;
    }
    .btn-cars {
      width: 290px;
      height: 48px;
      background-color: $Color-primary-300;
      border: 2px solid $Color-primary-300;
      border-radius: 15px;
      font-weight: 400;
      font-size: 15px;
      line-height: 1.33;
      color: $Color-primary-200;

      &:hover,
      &:focus {
        background-color: inherit;
        color: $Color-primary-300;
      }
    }
  }
  .filter-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;

    .form-check {
      display: flex;
      align-items: flex-end;
    }

    .form-check-input {
      width: 16px;
      height: 16px;
      margin-right: 8px;

      &:focus {
        border-color: $Color-secondary-100;
        box-shadow: none;
      }
      &:checked {
        background-color: $Color-primary-300;
      }
      &:checked ~ .form-check-label {
        color: $Color-primary-300;
      }
    }
    .form-check-label {
      font-weight: 400;
      font-size: 12px;
      line-height: 1.33;
      color: $Color-secondary-200;
    }

    .filter {
      display: flex;
      align-items: center;
      flex-direction: column;
      position: relative;

      &.is-open .filter-body {
        display: block;
      }

      .filter-header {
        display: flex;
        align-items: center;

        .filter-title {
          font-weight: 400;
          font-size: 12px;
          line-height: 1.33;
          color: #000000;
          margin-right: 17px;
        }

        .filter-icon {
          margin-right: 9px;
        }
        .current-filter {
          font-weight: 400;
          font-size: 12px;
          line-height: 1.33;
          color: $Color-secondary-200;
          cursor: pointer;

          &:hover {
            color: $Color-primary-300;
          }
        }
      }
      .filter-body {
        background-color: #ffffff;
        z-index: 10;
        border-radius: 15px;
        padding: 12px;
        margin-left: auto;
        position: absolute;
        display: none;
        top: 25px;
        right: -20px;

        .filter-item {
          font-weight: 400;
          font-size: 12px;
          line-height: 1.33;
          color: $Color-primary-100;
          margin-bottom: 12px;
          cursor: pointer;

          &:hover {
            color: $Color-primary-300;
          }
        }
      }
    }
  }
  .gallery {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 0;
    margin: 0;
    margin-right: -20px;

    .car {
      position: relative;
      margin-right: 20px;
      margin-bottom: 20px;
      list-style: none;
      cursor: pointer;

      &:hover .car-model {
        text-decoration: underline;
      }
      &:nth-last-child(-n + 4) {
        margin-bottom: 0;
      }

      .img-wrapper {
        position: relative;
      }
      .new {
        position: absolute;
        left: 0;
        bottom: 0;
      }
    }

    .car-body {
      background-color: #ffffff;
      padding: 20px 20px 35px;
      position: relative;

      .sold {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #ffffff5d;
        z-index: 10;
        padding-top: 63px;
        text-align: center;
        font-family: "Poppins";
        font-weight: 700;
        font-size: 50px;
        line-height: 75px;
        color: $Color-secondary-500;

        span {
          position: absolute;
          bottom: 233px;
          right: 85px;
        }
      }

      .car-main-info {
        display: flex;
        margin-bottom: 16px;

        .car-year {
          font-size: 17px;
          line-height: 26px;
          color: $Color-secondary-200;
          margin-right: 8px;
        }
        .car-model {
          font-weight: 400;
          font-size: 17px;
          line-height: 23px;
          color: #000000;
        }
      }
      .car-description {
        font-size: 14px;
        line-height: 19px;
        color: $Color-secondary-200;
        margin-bottom: 26px;

        .line {
          margin-left: 8px;
          margin-right: 8px;
        }
      }
      .car-price {
        font-weight: 500;
        font-size: 20px;
        line-height: 27px;
        color: $Color-primary-100;
        margin: 0;
      }
    }
  }
}
.sign-up {
  background-color: $Color-primary-100;
  padding: 40px 100px 46px 100px !important;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .sign-up-description {
    margin-right: 95px;
  }

  .sign-up-title {
    font-weight: 600;
    font-size: 25px;
    line-height: 34px;
    color: $Color-primary-200;
    margin-bottom: 20px;
  }
  .sign-up-text {
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 0;
    color: $Color-primary-200;
  }
  .form {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .input-group {
      display: block;
      position: relative;
      width: auto;
      margin-right: 20px;

      .form-control {
        width: 505px;
        height: 54px;
        background-color: inherit;
        box-sizing: border-box;
        border-radius: 15px;
        color: $Color-primary-200;
        padding: 15px 22px 19px 16px;

        &::placeholder {
          font-weight: 400;
          font-size: 15px;
          line-height: 20px;
          color: $Color-primary-200;
        }
      }
      .invalid-feedback {
        position: absolute;
        left: 18px;
        font-size: 10px;
        line-height: 2.6;
        /* identical to box height, or 260% */

        letter-spacing: -0.523077px;

        color: $Color-primary-300;
      }
    }
    .btn {
      width: 190px;
      height: 54px;
      background-color: $Color-primary-200;
      border-radius: 15px;
      font-weight: 400;
      font-size: 15px;
      line-height: 20px;
      color: $Color-primary-100;

      &:hover {
        border: 2px solid $Color-primary-200;
        background-color: $Color-primary-100;
        color: $Color-primary-200;
      }
    }
  }
  .was-validated {
    &.form-control:valid,
    .form-control.is-valid {
      background-image: url(../img/success.svg);
      border: 1px solid $Color-secondary-700;
    }

    &.form-control:invalid,
    .form-control.is-invalid {
      background-image: url(../img/Close.svg);
      border: 1px solid $Color-primary-300;
    }
  }
}
.popular-questions {
  background-color: $Color-primary-200;
  padding-top: 120px;
  padding-bottom: 200px;
  padding-left: 310px !important;
  padding-right: 310px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  &-title {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 75px;
    /* identical to box height */

    text-transform: uppercase;

    /* Color-secondary-100 */

    color: $Color-secondary-100;
    margin-bottom: 80px;
  }
  .questions-list {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;

    .question-item {
      cursor: pointer;

      &:not(:last-child) {
        margin-bottom: 24px;
      }

      & .button-open,
      & .button-close {
        border: none;
        background-color: inherit;
        padding: 0;
      }

      &-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px 14px;
        border-bottom: 1px solid #c4c4c4;
      }

      &-title {
        margin: 0;
        font-weight: 500;
        font-size: 15px;
        line-height: 20px;

        color: $Color-primary-100;
      }

      & .question-description {
        padding: 24px 47px 24px 39px;
        background-color: $Color-secondary-500;

        &-header {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-bottom: 24px;

          .name-question {
            font-weight: 700;
            font-size: 15px;
            line-height: 20px;
            margin: 0;

            color: $Color-primary-300;
          }
        }
        .question-text {
          font-weight: 400;
          font-size: 13px;
          line-height: 1.5;
          /* or 20px */

          color: #000000;
        }
      }
    }
  }
}
.footer {
  background-color: $Color-primary-100;
  padding: 37px 100px 36px 80px !important;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .footer-list {
      list-style: none;
      display: flex;
      margin: 0;
      padding: 0;
      .footer-item {
        &:not(:last-child) {
          margin-right: 40px;
        }
        .footer-link {
          font-weight: 600;
          font-size: 15px;
          line-height: 20px;
          color: $Color-primary-200;
          text-decoration: none;

          &:hover {
            color: $Color-primary-300;
          }
        }
      }
    }
  }
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

@import "../node_modules//bootstrap/scss/bootstrap.scss";
