$Color-primary-100: #000000;
$Color-primary-200: #f8f8f8;
$Color-primary-300: #df4e3c;

$Color-secondary-100: #aeaeae;
$Color-secondary-200: #8d8d8d;
$Color-secondary-300: #bdbdbd;
$Color-secondary-400: #c4c4c4;
$Color-secondary-500: #ffffff;
$Color-secondary-600: #959595;
$Color-secondary-700: #507a36;
