<section class="questions">
  <div class="container-xxl popular-questions">
    <h2 class="popular-questions-title">popular questions</h2>
    <ul class="questions-list">
      <li class="question-item">
        <div class="question-item-wrapper question-js">
          <h3 class="question-item-title">1. Scope</h3>
          <button class="button-open" type="button">
            <img class="question-item-svg" src="./img/plus.svg" alt="" />
          </button>
        </div>
        <div class="question-description visually-hidden question-js1">
          <div class="question-description-header">
            <h3 class="name-question">1. Scope</h3>
            <button class="button-close" type="button">
              <img src="./img/minus.svg" alt="" />
            </button>
          </div>
          <p class="question-text">
            1.1 The statutory warranty is completely excluded to the extent
            permitted by law.
          </p>

          <p class="question-text">
            1.2 If the vehicle still has a current factory warranty, a sales
            representative (brand representative) of the manufacturer shall
            provide the services owed therein.
          </p>

          <p class="question-text">
            1.3 If there is a special warranty insurance for the vehicle, this
            will take the place of the material warranty according to section
            3.1 and replace it.
          </p>
        </div>
      </li>
      <li class="question-item">
        <div class="question-item-wrapper question-js">
          <h3 class="question-item-title">2. Vehicle characteristics</h3>
          <button class="button-open" type="button">
            <img class="question-item-svg" src="./img/plus.svg" alt="" />
          </button>
        </div>
        <div class="question-description visually-hidden question-js1">
          <div class="question-description-header">
            <h3 class="name-question">2. Vehicle characteristics</h3>
            <button class="button-close" type="button">
              <img src="./img/minus.svg" alt="" />
            </button>
          </div>
          <p class="question-text">
            2.1 The statutory warranty is completely excluded to the extent
            permitted by law.
          </p>

          <p class="question-text">
            2.2 If the vehicle still has a current factory warranty, a sales
            representative (brand representative) of the manufacturer shall
            provide the services owed therein. If there is a factory warranty,
            the beginning of the warranty for new vehicles or vehicles with a
            current manufacturer's warranty is not the date of the first placing
            on the market, but the beginning of the warranty in the
            manufacturer's system or the contractually agreed beginning of the
            warranty, if any.
          </p>

          <p class="question-text">
            2.3 If there is a special warranty insurance for the vehicle, this
            will take the place of the material warranty according to section
            3.1 and replace it. In this case, the General Terms and Conditions
            of the respective warranty service provider apply.
          </p>
        </div>
      </li>
      <li class="question-item">
        <div class="question-item-wrapper question-js">
          <h3 class="question-item-title">3. Warranty / guarantee</h3>
          <button class="button-open" type="button">
            <img class="question-item-svg" src="./img/plus.svg" alt="" />
          </button>
        </div>
        <div class="question-description visually-hidden question-js1">
          <div class="question-description-header">
            <h3 class="name-question">3. Warranty / guarantee</h3>
            <button class="button-close" type="button">
              <img src="./img/minus.svg" alt="" />
            </button>
          </div>
          <p class="question-text">
            3.1 The statutory warranty is completely excluded to the extent
            permitted by law.
          </p>

          <p class="question-text">
            3.2 If the vehicle still has a current factory warranty, a sales
            representative (brand representative) of the manufacturer shall
            provide the services owed therein.
          </p>

          <p class="question-text">
            3.3 If there is a special warranty insurance for the vehicle, this
            will take the place of the material warranty according to section
            3.1 and replace it.
          </p>
        </div>
      </li>
      <li class="question-item">
        <div class="question-item-wrapper question-js">
          <h3 class="question-item-title">4. Trade-in vehicle</h3>
          <button class="button-open" type="button">
            <img class="question-item-svg" src="./img/plus.svg" alt="" />
          </button>
        </div>
        <div class="question-description visually-hidden question-js1">
          <div class="question-description-header">
            <h3 class="name-question">4. Trade-in vehicle</h3>
            <button class="button-close" type="button">
              <img src="./img/minus.svg" alt="" />
            </button>
          </div>
          <p class="question-text">
            4.1 The statutory warranty is completely excluded to the extent
            permitted by law.
          </p>

          <p class="question-text">
            4.2 If the vehicle still has a current factory warranty, a sales
            representative (brand representative) of the manufacturer shall
            provide the services owed therein.
          </p>

          <p class="question-text">
            4.3 If there is a special warranty insurance for the vehicle, this
            will take the place of the material warranty according to section
            3.1 and replace it.
          </p>
        </div>
      </li>
      <li class="question-item">
        <div class="question-item-wrapper question-js">
          <h3 class="question-item-title">5. Home Delivery</h3>
          <button class="button-open" type="button">
            <img class="question-item-svg" src="./img/plus.svg" alt="" />
          </button>
        </div>
        <div class="question-description visually-hidden question-js">
          <div class="question-description-header">
            <h3 class="name-question">5. Home Delivery</h3>
            <button class="button-close" type="button">
              <img src="./img/minus.svg" alt="" />
            </button>
          </div>
          <p class="question-text">
            5.1 The statutory warranty is completely excluded to the extent
            permitted by law.
          </p>

          <p class="question-text">
            5.2 If the vehicle still has a current factory warranty, a sales
            representative (brand representative) of the manufacturer shall
            provide the services owed therein.
          </p>

          <p class="question-text">
            5.3 If there is a special warranty insurance for the vehicle, this
            will take the place of the material warranty according to section
            3.1 and replace it.
          </p>
        </div>
      </li>
      <li class="question-item">
        <div class="question-item-wrapper question-js">
          <h3 class="question-item-title">6. Right of return</h3>
          <button class="button-open" type="button">
            <img class="question-item-svg" src="./img/plus.svg" alt="" />
          </button>
        </div>
        <div class="question-description visually-hidden question-js1">
          <div class="question-description-header">
            <h3 class="name-question">6. Right of return</h3>
            <button class="button-close" type="button">
              <img src="./img/minus.svg" alt="" />
            </button>
          </div>
          <p class="question-text">
            6.1 The statutory warranty is completely excluded to the extent
            permitted by law.
          </p>

          <p class="question-text">
            6.2 If the vehicle still has a current factory warranty, a sales
            representative (brand representative) of the manufacturer shall
            provide the services owed therein.
          </p>

          <p class="question-text">
            6.3 If there is a special warranty insurance for the vehicle, this
            will take the place of the material warranty according to section
            3.1 and replace it.
          </p>
        </div>
      </li>
      <li class="question-item">
        <div class="question-item-wrapper question-js">
          <h3 class="question-item-title">7. Written form</h3>
          <button class="button-open" type="button">
            <img class="question-item-svg" src="./img/plus.svg" alt="" />
          </button>
        </div>
        <div class="question-description visually-hidden question-js1">
          <div class="question-description-header">
            <h3 class="name-question">7. Written form</h3>
            <button class="button-close" type="button">
              <img src="./img/minus.svg" alt="" />
            </button>
          </div>
          <p class="question-text">
            7.1 The statutory warranty is completely excluded to the extent
            permitted by law.
          </p>

          <p class="question-text">
            7.2 If the vehicle still has a current factory warranty, a sales
            representative (brand representative) of the manufacturer shall
            provide the services owed therein.
          </p>

          <p class="question-text">
            7.3 If there is a special warranty insurance for the vehicle, this
            will take the place of the material warranty according to section
            3.1 and replace it.
          </p>
        </div>
      </li>
      <li class="question-item">
        <div class="question-item-wrapper question-js">
          <h3 class="question-item-title">
            8. Applicable law and place of jurisdiction
          </h3>
          <button class="button-open" type="button">
            <img class="question-item-svg" src="./img/plus.svg" alt="" />
          </button>
        </div>
        <div class="question-description visually-hidden question-js1">
          <div class="question-description-header">
            <h3 class="name-question">
              8. Applicable law and place of jurisdiction
            </h3>
            <button class="button-close" type="button">
              <img src="./img/minus.svg" alt="" />
            </button>
          </div>
          <p class="question-text">
            8.1 The statutory warranty is completely excluded to the extent
            permitted by law.
          </p>

          <p class="question-text">
            8.2 If the vehicle still has a current factory warranty, a sales
            representative (brand representative) of the manufacturer shall
            provide the services owed therein.
          </p>

          <p class="question-text">
            8.3 If there is a special warranty insurance for the vehicle, this
            will take the place of the material warranty according to section
            3.1 and replace it.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
