<div class="container-xxl sign-up">
  <div class="sign-up-description">
    <h3 class="sign-up-title">Haven't found a suitable vehicle?</h3>
    <p class="sign-up-text">
      Sign up for our newsletter and be the first to know when we publish new
      vehicle offers.
    </p>
  </div>
  <div>
    <form class="form needs-validation" novalidate>
      <div class="input-group has-validation">
        <input
          type="text"
          class="form-control"
          id="validationCustomUsername"
          aria-describedby="inputGroupPrepend"
          placeholder="Enter your email"
          required
        />
        <div class="invalid-feedback">Incorrect email</div>
      </div>

      <button class="btn" type="submit">Subscribe now</button>
    </form>
  </div>
</div>
